html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

#calculator {
    max-width: 325px;
    height: auto;
    background-color: #88AEB2;
    font: bold 14px Arial, sans-serif;

}

#screen{
    width: 325px;
    height: 75px;
    text-align: center;
    background-color: yellowgreen;
}

#visible{
    max-width: 300;
    height: auto;
    float: left;
    margin: 10px;
}
.number{
    width:70px;
    height:75px;
    margin:5px;
    
}
.math{

    width:60px;
    height:75px;
    margin:5px;
}

input[type=button]