html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

#container{
    max-width: 1100px;
    height: auto;
    margin: 0% auto;
}

#header{
    border-radius: 25px;
    max-width: 325px;
    height: 500px;
    float: left;
    padding:10px;
    margin:10px;
    background-color: blue;
}

#form{
    border-radius: 25px;
    max-width:325px;
    height: 300px;
    float: left;
    margin:10px;
    background-color: green;
    border: dotted;
    text-align: center;
}
#weekend{
    border:solid;
    max-width: 325px;
    height: auto;
    float:left;
    margin: 5px;
    padding: 5px;
}

#answers{
    max-width: 300px;
    height: auto;
    float: bottom;
    margin: 15px;
}

#calculator {
    text-align: center;
    border-radius: 5px;
    width: 325px;
    margin: 10px;
    height: auto;
    float: left;
    background-color: #88AEB2;
    font: bold 14px Arial, sans-serif;
    border: solid;

}

#screen{
    border-radius: 5px;
    width: 325px;
    min-height: 30px;
    background-color: yellowgreen;
    float: left;
    margin:0% auto;
}
#doesItWork {
    border-radius: 25px;
    max-width: 150px;
    min-height:75px;
    padding:10px;
    float: right;
}

#calcKeys{
    width:325;
    height:auto;
}

.visible{
    max-width: 150;
    height: auto;
    float: left;
    margin: 10px;
}
.number{
    width:70px;
    height:75px;
    margin:5px;
    
}
.math{

    width:60px;
    height:75px;
    margin:5px;
}
#evaluate{

    width:70px;
    height:75px;
    margin:5px;
}
#history{
    border-radius: 25px;
    float: left;
    width: 315px;
    max-height: 300px;
    text-align: center;
    margin: 5px;
    background-color: white;
    height: auto;
}