html {
    height: 100%;
    background: white;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

#calculator {
    max-width: 325px;
    height: auto;
    background-color: #88AEB2;
    font: bold 14px Arial, sans-serif;

}

#screen{
    width: 325px;
    height: 100px;
    text-align: center;
    background-color: yellowgreen;
}